*.fasta
*.fasta*
*.delta
*.rds
*.RDS
*.fa
*.qmd
*.map
*.ped
*.nosex
*.svg
*.pdf
*.png
*.jpg
*.gff
*.gff3
*.csv
*.xls
*.tsv
*.tex
*.nsq
*.nhr
*.nsq
.Rproj.user
*.coords
*.gz
*.bam*
*.sam*
*.vcf*
*MAPPING/*
*Variant_Calling/*
Data/*
*DATA/*
*.log
*.snakemake*
*.out
*.err
*.tdb
*.json
*.mean
*.pi
*.lqual
*.frqx
*.R
*Plotting.qmd
!Mapping_stats.R
!Mapp_stats.R
.Rhistory
*headers.txt
*.pi
Data/Edulis/Keaton_EU_samples/Variant_Calling/DB/*
Haplotype1_geno/Variant_Calling/DB/*
*consolidation*
