*.fasta
*.fasta*
*.delta
*.rds
*.RDS
*.fa
*.qmd
*.map
*.ped
*.nosex
*.svg
*.pdf
aligned/*/*
*.hmm
ancestral*
*.prfl
*.md5
*.info
*.cfg
*.pbl*
*.orig*
*.qij
*_PARAMETERS.md

*.bedge
*.png
*.jpg
*.txt
*.hic
*.gff
*.gff3
*.csv
*.xls
*.tsv
*.tex
*.cache*
*.nsq
*.pairs
*.nhr
*.nsq
.Rproj.user
*.coords
*.gz
*.bam*
*.sam*
*.vcf*
Data/MAPPING/*
*Variant_Calling/*
Data/Variant_Calling/*
Data/*
*.log
*.snakemake*
*.out
*.err
*.gz
*.tdb
*.json
*.mean
*.pi
*.lqual
*.frqx
*Plotting.qmd
!Mapping_stats.R
!Mapp_stats.R
.Rhistory
*headers.txt
*.pi
Data/Edulis/Keaton_EU_samples/Variant_Calling/DB/*
Haplotype1_geno/Variant_Calling/DB/*
*consolidation*
